*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans JP', sans-serif;
}

.app{
    background: linear-gradient(180deg, #EAEDF8 0%, #CED7E8 100%);
    min-height: 100vh;
    height: 100%;
    width: 100%;
    min-width: 250px;
    min-height: 500px;
}